{% extends "/inadmin/structure/main.html.twig" %}
{% block pagetitle %}
    <span>Tools</span>
{% endblock pagetitle %}

{% block content %}
{% block settings_pre %}{% endblock settings_pre %}
{% block settings %}
<div class="col-12 widget-container">

<section class="widget widget-settings">
    <p><span class="material-icons" aria-hidden="true">dns</span></p>
    <h2>Server Configuration</h2>
    <p><span>Check your server and application settings.</span></p>
    <p><a href="{{ settings.domain ~ path('incc_tools_diagnostics') }}" class="button button--secondary">Review Server Settings</a></p>
</section>

<section class="widget widget-settings">
    <p><span class="material-icons" aria-hidden="true">email</span></p>
    <h2>Email DNS Configuration</h2>
    <p><span>Check your email DNS configuration for DKIM/DMARC/SPF settings.</span></p>
    <p><a href="{{ settings.domain ~ path('incc_tools_email') }}" class="button button--secondary">Review Email DNS</a></p>
</section>

<section class="widget widget-settings widget-settings--danger">
    <p><span class="material-icons" aria-hidden="true">delete_forever</span></p>
    <h2>Data Purge</h2>
    <p><span><strong>Danger:</strong> Delete all content from your site.</span></p>
    <p><a href="{{ settings.domain }}" class="button button--negative">Purge Data</a></p>
</section>

</div>
{% endblock settings %}
{% block settings_post %}{% endblock settings_post %}
{% endblock content %}

