@use '../definitions' as *;

.fixed-bottom-bar {
  background-color: $admin__button-bar-background-color;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  bottom: 0;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;

  @media #{$information-medium} {
    left: $admin__container--collapsed-width;
  }
}