@use '../definitions' as *;
@use 'sass:color';

.fixed-bottom-bar {
  background-color: var(--color-neutral-200);
  border-top: 1px solid var(--color-neutral-400);
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.15);
  bottom: 0;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 50;
  right: 0;

  @media (min-width: $breakpoint-medium) {
    left: $sidebar-collapsed;
    transition: left 0.3s ease;

    .layout.expanded & {
      left: $sidebar-expanded;
    }
  }
}