@use '../definitions' as *;

.content-header {
    background: #f1f5f9;
    padding: 3px 0px;
    border-bottom: 1px solid #cbd5e1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 100;

    grid-column: 1;
    grid-row: auto;
    width: 100%;

    h1 {
        display: none;
    }

    .admin__actions {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (min-width: $breakpoint-medium) {
    .content-header {
        grid-column: 2;
        grid-row: 1;
        justify-content: space-between;
        padding: 0.25em 0;
        width: auto;

        h1 {
            display: block;
            margin: 0;
            font-size: 1rem;

            a, a:visited {
                background-color: #333;
                border: 1px solid transparent;
                border-top-right-radius: 2em;
                border-bottom-right-radius: 2em;
                color: #fff;
                padding: 1em 2em 1em 1em;
                text-decoration: none;
            }
            a:hover {
                background-color: #999;
                color: #333;
            }
            span {
                padding: 1em;
            }
            & > span:first-child {
                margin-left: 0;
            }
        }
    }
}
