@use '../definitions' as *;

@mixin col-span($n) {
  grid-column: span $n;
}

* { box-sizing: border-box; }

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  transition: grid-template-columns .3s ease;

  &.expanded {
    grid-template-columns: $sidebar-expanded 1fr;

    .sidebar ul span { display: inline; }
  }

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: $sidebar-collapsed 1fr;
  }
}

.content {
  align-items: start;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;
  grid-column: 1;
  grid-row: auto;

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: repeat($columns, 1fr);
    grid-column: 2;
    grid-row: 2;
    padding: 24px;
  }

  @for $i from 1 through $columns {
    .col-#{$i} {
      @include col-span($i);
    }
  }
}

.nested-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gutter;

  @for $i from 1 through $columns {
    .col-#{$i} { @include col-span($i); }
  }

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: repeat($columns, 1fr);
  }
}
