@use '../definitions' as *;
@use 'sass:color';

.admin__container {
  position: absolute;
  top: 5px;
  z-index: 7;

  .admin__nav-main {
    height: 100%;
  }

  &.admin__container--expanded {
    height: 100%;
    width: 80%;
    -webkit-box-shadow: 20px 0 20px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 20px 0 20px 0 rgba(0,0,0,0.3);
    box-shadow: 20px 0 20px 0 rgba(0,0,0,0.3);
  }

  .admin__nav-main__link {
    margin-left: 10px;

    a, a:visited {
      border: 1px solid #999;
      border-radius: 5px;
      color: #999;
      padding: 5px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .admin__nav-main__list, .admin__identity {
    display: none;
  }

  .admin__nav-main__list {
    background-color: $menubar__background-color;
    height: 100%;
    line-height: 2em;
    list-style-type: none;
    font-size: 1.25em;
    margin: 0;
    padding: 1em 0.2em;
    text-transform: uppercase;

    @media #{$information-medium} {
      font-size: 0.8em;
      line-height: 1em;
      padding: 0;
    }

    .menu__active {
      background-color: $menubar__background-color--is-active;
      border-left: 2px solid #aaa;
      font-weight: bold;
    }


    a:link, a:visited {
      color: #fff;
      display: block;
      padding: 5px;
      text-decoration: none;
    }
    a:hover {
      background-color: $menubar__background-color--hover;
    }
    a:hover, a:hover i, a:hover span {
      color: $admin__container-button--hover;
    }

    i {
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      vertical-align: middle;
    }

    ul {
      background: #222;
      list-style-type: none;
      display: none;
    }

    .menu__collapsed {
      display: none;
    }

    .button.admin__add-content {
      background-color: $admin__container-add-button;
      border: 1px solid color.adjust($admin__container-add-button, $lightness: -10%);
      display: block;
      margin: 0 auto 3em;
      text-align: center;
      width: 50%;

      @media #{$information-medium} {
        margin:5px auto 50px auto;
        width: auto;

        &:hover {
          background-color: $admin__container-button--hover;
          border: 1px solid $admin__container-add-button;
          color: #fff;
          i {
            color: #fff;
          }
        }
        & span {
          display: none;
          height: auto;
          padding: 0 0 0 10px;
        }
      }
    }
    .admin__nav-expand, .admin__nav-collapse {
      display: none;
    }
  }

  @media #{$information-medium} {
    background-color: #222;
    color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;

    .admin__nav-main__list, .admin__identity {
      display: block;
    }

    &.admin__container--collapsed {
      width: $admin__container--collapsed-width;

      ul {
        li {
          margin: 5px auto;
          padding: 5px;
        }
        span {
          display: none;
        }
        ul {
          display: none;

          &.admin__nav-new span {
            display: inline-block;
          }
        }
      }

      .admin__identity {
        height: 35px;
        width: $admin__container--collapsed-width - 5;
      }

      .admin__nav-expand {
        display: block;
      }
      li.admin__nav-expand {
        margin-top: 50px;
      }

      ul.admin__nav-new {
        left: 40px;
        top: 85px;
      }
    }

    &.admin__container--expanded {
      width: $admin__container--expanded-width;
      z-index: 10;
      //border-radius: 1.5em;
      //margin: 0.5em;

      ul {
        li {
          margin: 10px 5px;
          text-align: left;
          vertical-align: middle;

          span {
            display: inline-block;
            height: 0.9em;
            padding-left: 5px;
            vertical-align: middle;
          }
        }

        ul {
          display: none;
          margin-left: 1em;
        }
      }

      .admin__identity {
        height: 75px;
        width: $admin__container--expanded-width - 5;
      }

      .admin__nav-collapse {
        display: block;
      }
      li.admin__nav-collapse {
        margin-top: 50px;
      }

      .button.admin__add-content {
        padding: 10px;
        vertical-align: middle;
        width: 7em;

        span {
          display: inline-block;
          vertical-align: middle;
        }
      }

      ul.admin__nav-new {
        left: 130px;
        top: 130px;
      }
    }
  }
}

@media #{$information-medium} {
  .mobile-only, .material-icons.mobile-only {
    display: none !important;
  }

  .admin__container {
    .admin__identity {
      background: transparent url(/assets/imgs/incc/inachis.png) no-repeat 50% 50%;
      background-size: contain;
      display: block;
      margin:0 auto 40px auto;

      span {
        display: none;
      }
    }

    .admin__nav-main__list {
      li {
        text-align: center;
        vertical-align: middle;

        a, a:visited {
          color: #fff;
          text-decoration: none;
        }
      }

      ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .admin__body-container {
    margin-left: $admin__container--collapsed-width + 15;
    margin-right: 1em;
    clear: both;

    @media #{$information-medium} {
      padding-top: 4.5em;
    }
  }
}