@use '../definitions' as *;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.admin__search {
	margin-right: 1em;

	.input-icon-wrapper {
		background-color: var(--bg-surface);
		border: 1px solid var(--color-neutral-300);

		input {
			font-size: 0.9rem;
		}
	}
}

.input-icon-wrapper {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	background: var(--color-neutral-200);
	padding: 0 0.75rem;
	border-radius: $radius-standard;
	border: 1px solid transparent;
	transition: all 0.2s;

	input {
		border: none;
		background: transparent;
		padding: 0.75rem 2rem 0.75rem 0.5rem;
		width: 100%;
		font-size: 1rem;
		outline: none;
	}

	&:focus-within {
		background: var(--bg-surface);
		border-color: var(--color-brand-500);
		box-shadow: 0 0 0 3px var(--color-brand-050);
	}
}

.clear-search {
	background: none;
	border: none;
	color: var(--color-neutral-600);
	cursor: pointer;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0.5rem;
	padding: 4px;
	border-radius: $radius-round;

	&::hover {
		background: var(--color-neutral-200);
		color: var(--color-neutral-900);
	}
}