@use '../definitions' as *;

.admin__search {
	margin-right: 1em;
	padding: 15px 0 10px 0;

	@media #{$information-medium} {
		padding: 15px 10px 10px 0;
	}

	input {
		border: 1px solid #eee;
		border-radius: 0.5em;
		color: $admin__search_color;
		padding: 0.5em 0.5em 0.5em 2em;
		vertical-align: middle;
		width: 14em;

		&:focus, &:active {
			border-color: $admin__search_color;
			color: $admin__search_color;
			outline: none;
		}
	}

	label {
		color: $admin__search_color;
		display: inline;
		position: relative;
		right: -1.5em;
		vertical-align: middle;
	}
}

.clear-search {
	background: transparent;
	border: none;
	color: $admin__search_color;
	position: absolute;
	right: 3.5em;
	top: 0.8em;

	@media #{$information-medium} {
		right: 4em;
	}
}