@use '../definitions' as *;
@use '../mixins/box-shadow' as *;

.admin__user {
	margin: 0.5em 1em 0.5em 0;
	z-index: 101;

	a[href="#admin__user__options"] {
		&:after {
			content: "";
			border-style: solid;
			border-width: 5px 5px 0 5px;
			border-color: var(--color-neutral-500) transparent transparent transparent;
			position: relative;
			top: 1em;
			right: -0.5em;
		}
	}

	a,
	a:visited,
	button {
		background-color: transparent;
		border: none;
		color: var(--color-neutral-600);
		cursor: pointer;
		text-decoration: none;
	}

	img {
		background-color: var(--bg-surface);
		border: 1px solid var(--color-neutral-300);
		border-radius: $radius-round;
		padding: 2px;
		vertical-align: middle;
	}

	[data-initials]:before {
		background-color: var(--color-profile-blue);
		color: white;
		opacity: 1;
		content: attr(data-initials);
		display: inline-block;
		font-weight: bold;
		border-radius: $radius-round;
		vertical-align: middle;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
	}

	[data-color="#f90"]:before {
		background-color: #f90;
	}

	[data-color="#090"]:before {
		background-color: #090;
	}

	[data-color="#dd0909"]:before {
		background-color: #dd0909;
	}

	[data-color="#8409dd"]:before {
		background-color: #8409dd;
	}

	[data-color="#dd8709"]:before {
		background-color: #dd8709;
	}

	ul {
		@include box-shadow(10px, 10px, 39px, -12px, rgba(0, 0, 0, 0.61));

		background-color: var(--bg-surface);
		border: 1px solid var(--color-neutral-300);
		display: none;
		font-size: 0.85em;
		list-style-type: none;
		min-width: 17em;
		padding: 0;
		position: absolute;
		right: 1em;
		top: 45px;

		&.open {
			display: block;
		}

		li {
			text-align: right;

			&.divider {
				border-top: 1px solid var(--color-neutral-300);
			}

			a,
			a:visited,
			button,
			p {
				padding: 5px;
			}

			a,
			a:visited {
				display: block;
			}

			a:hover,
			button:hover {
				background-color: var(--color-neutral-300);
			}

			button {
				border: 1px solid var(--color-neutral-300);
				border-radius: $radius-standard;
				display: block;
				margin: 0.5em auto;
				text-align: center;
				width: 90%;
			}

			span.material-icons {
				vertical-align: middle;
			}
		}
	}

	.admin__user__notifications {
		background-color: var(--color-notification);
		border-radius: $radius-round;
		color: var(--color-neutral-000);
		font-size: 0.7em;
		right: 65px;
		padding: 2px 5px;
		position: absolute;
		top: 35px;
	}
}