security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: Inachis\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            user_checker: Inachis\Security\UserChecker

            form_login:
                login_path: incc_account_login
                check_path: incc_account_login

                username_parameter: login[loginUsername]
                password_parameter: login[loginPassword]
                csrf_parameter: login[_token]

                use_referer: true
                default_target_path: incc_dashboard

            logout:
                path: incc_logout
                target: incc_account_login

            login_throttling:
                max_attempts: 5
                interval: '15 minutes'

        secured_area:
            form_login:
                enable_csrf: true

    access_control:
        - { path: ^/incc/login$, roles: PUBLIC_ACCESS }
        - { path: ^/incc/forgot-password$, roles: PUBLIC_ACCESS }
        - { path: ^/incc/new-password, roles: PUBLIC_ACCESS }
        - { path: ^/incc/logout, roles: PUBLIC_ACCESS }
        - { path: ^/incc/ax/calculate-password-strength$, roles: PUBLIC_ACCESS }

        - { path: ^/incc, roles: [ ROLE_ADMIN ] }
        #- { path: ^/.*, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/.*, roles: PUBLIC_ACCESS, requires_channel: https }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
