/node_modules/
/public/assets/
/.sass-cache/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/uploads/avatars/.gitkeep
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/tests/logs/
!/tests/logs/.gitkeep
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
/.idea
/.vagrant
/backup
/bin/.phpunit
/bin/phpunit
/composer
/config/version.php

/docker
/docker-compose.yml

deploy.php
