<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="config/bootstrap.php"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnPhpunitDeprecation="true"
         failOnWarning="true"
>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/DataFixtures/Test</directory>
    </exclude>
  </source>
  <coverage>
    <report>
      <html outputDirectory="tests/logs/coverage-report" />
      <clover outputFile="tests/logs/clover.xml" />
    </report>
  </coverage>
  <php>
    <env name="XDEBUG_MODE" value="coverage" />
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Inachis">
      <directory>./tests/phpunit/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
