@use '../definitions' as *;

.ui-dialog {
  background: var(--bg-surface);
  position: absolute;
  z-index: 110 !important;

  .ui-dialog-titlebar {
    button {
      background-color: var(--bg-surface);
      border: none;
      float: right;
      margin: 5px;
      padding: 0;
    }

    span {
      display: inline-block;
      font-size: 1.3em;
      font-weight: bold;
      padding: 10px;
    }
  }

  .ui-dialog-secondary-bar {
    align-items: center;
    background-color: var(--color-neutral-300);
    border: 1px solid var(--color-neutral-400);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding: 5px;

    a,
    a:visited {
      text-decoration: none;
    }

    .search {
      button {
        vertical-align: middle;
      }

      input {
        font-size: 1.2em;
        padding: 5px;
        vertical-align: middle;
      }

      label {
        display: none;
      }
    }
  }

  .ui-dialog-content {
    max-height: 400px !important;
    padding: 10px;
    overflow-y: auto;

    fieldset {
      padding: 0;
    }

    .dz-default {
      font-size: 1em;
      margin: 1.5em 1.5em 0 1.5em;
    }
  }

  .ui-dialog-buttonpane {
    background-color: var(--color-neutral-300);
    padding: 5px;
    text-align: right;

    button {
      margin: 3px;
    }
  }

  .gallery {
    height: 330px;
    overflow-y: scroll;

    img {
      height: 150px;
      object-fit: cover;
      width: 150px;
    }

    input {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }

    label span {
      display: none;
    }

    li {
      float: left;
      position: relative;
    }

    ol,
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .material-icons {
      color: var(--color-neutral-000);
      bottom: 0.1em;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 1px 3px var(--color-neutral-800);
    }
  }
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100 !important;
}

.ui-cross {
  background-color: var(--bg-surface);
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 20px 10px;
  padding: 5px;
  position: absolute;
  right: 0;
}

#dialog__contentSelector {
  ol {
    list-style-type: none;

    li {
      margin: 0.5em;
    }

    input {
      margin: 0 1em 0 0;
      width: auto;
    }
  }
}

.loader {
  margin: 5em auto;
  width: 40px;
  height: 40px;
  --c: no-repeat linear-gradient(#006699 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}