@use '../definitions' as *;

#dialog__sessionTimeout {
  .material-icons {
    vertical-align: middle;
  }

  p.countdown {
    font-size: 3em;
    color: $color-danger-500;
    text-align: center;
  }
}