@use '../definitions' as *;

section.widget.widget-actions {
    background-color: #1a2b48;
    border-radius: 1rem;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .widget__header {
        border-bottom: none;

        h2,
        h3 {
            color: #fff;
            padding: 0;
            margin: 0;
        }
    }

    .date {
        color: var(--color-info-700);
        font-size: 0.875rem;
    }
}

.icon-grid {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;

    a,
    a:visited {
        text-decoration: none;
    }

    .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        flex: 1;

        span {
            font-size: 0.9rem;
            font-weight: 500;
            color: #475569;
            text-align: center;
            white-space: nowrap;
        }

        .icon-box {
            width: 5rem;
            height: 4rem;
            border-radius: $radius-standard;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-2px);
            }
        }
    }

    span.material-icons {
        font-size: 2.5rem;
    }

    .icon-box.green {
        background-color: #dcfce7;
        color: #166534;
    }

    .icon-box.blue {
        background-color: #dbeafe;
        color: #1e40af;
    }

    .icon-box.purple {
        background-color: #f3e8ff;
        color: #6b21a8;
    }
}