.widget-alerts {
  article {
    margin-bottom: 2em;
    padding: 0.6em;

    p span {
      font-size: 0.75em;
      font-weight: bold;
      margin-right: 1em;
      text-transform: uppercase;
    }

    &.alert_priority__high {
      background-color: var(--color-danger-100);
      border-bottom: 3px solid var(--color-danger-500); // Using standard danger
    }

    &.alert_priority__medium {
      background-color: var(--color-warning-200);
      border-bottom: 3px solid var(--color-warning-500); // Using standard warning
    }
  }
}