@use '../definitions' as *;

.widget-alerts {
  article {
    margin-bottom: 2em;
    padding: 0.6em;

    p span {
      font-size: 0.75em;
      font-weight: bold;
      margin-right: 1em;
      text-transform: uppercase;
    }

    &.alert_priority__high {
      background-color: $alert-danger-bg;
      border-bottom: 3px solid $alert-danger-border;
    }

    &.alert_priority__medium {
      background-color: $alert-warning-bg;
      border-bottom: 3px solid $alert-warning-border;
    }
  }
}