@use '../definitions' as *;
@use 'sass:color';

section.widget {
	padding: 0;

	header.widget__header {
		border-bottom: 1px solid $border-color;
		overflow: hidden;
		
		h2 {
			display: flex;
			justify-content: space-between;
		}
	}

	.widget__content {
		padding: 1rem;
	}

	h2,
	h3 {
		color: $text-muted;
		font-size: 0.85em;
		margin: 0;
		padding: 1rem 1rem 0 1rem;
		text-transform: uppercase;
	}

	dl {
		color: var(--color-diagnostic-muted);
		list-style-type: none;
		margin: 1rem;
		padding: 0;

		dt {
			font-weight: bold;
		}

		dd {
			margin: 0.5rem 0 1.5rem 0;
		}

		a,
		a:visited {
			color: $action-primary;
			display: block;
			text-decoration: none;
		}
	}

	p.view-all {
		padding: 1rem;

		a,
		a:visited {
			color: $action-primary;
			text-decoration: none;
		}
	}

	.ui-tabs {
		border: none;
	}
}