@use 'sass:color';
@use '../definitions' as *;

section.widget-stats article {
  background-color: var(--bg-surface);
  border: 1px solid var(--color-neutral-300);
  padding: 0.6em;
  margin-bottom: 2em;

  &.widget-stats__focus {
    border-bottom: 3px solid orange;

    h2 {
      margin: 0;
    }
  }
}