@use 'sass:color';
@use '../definitions' as *;

section.widget-stats article {
  background-color: $bg-surface;
  border: 1px solid $border-color;
  padding: 0.6em;
  margin-bottom: 2em;

  &.widget-stats__focus {
    border-bottom: 3px solid orange;

    h2 {
      margin: 0;
    }
  }
}