div.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.widget {
  h2 {
    color: var(--color-neutral-600);
    font-size: 0.85em;
    text-transform: uppercase;
  }
}

section.widget-settings {
  background: var(--bg-surface);
  border: 1px solid var(--color-neutral-300);
  margin: 1em;
  max-width: 225px;
  padding: 1em;
  text-align: center;
  width: 25%;

  .material-icons {
    font-size: 5em;
  }

  p span {
    font-size: 0.85em;
  }
}