@use '../_definitions' as *;

body.type_login {
	background-image: $signin_background-image__dark;
	background-size: cover;
	overflow: hidden;

	.content {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 0;
	}
}

.container__login,
.setup {
	background-color: $signin-overlay;
	border: 1px solid transparent;
	border-top: 10px solid $action-primary;
	border-radius: $radius-standard;
	color: $text-inverse;
	margin: auto;
	width: 25em;

	box-shadow: 5px 7px 14px 0 rgba(0, 0, 0, 0.26);

	&>div {
		margin: 3em 0;
	}

	h2 {
		margin-bottom: 2em;
	}

	.logo {
		text-align: center;
	}

	.form__login {
		margin: 2em;
		max-width: 450px;
		padding: 0;

		button {
			i {
				margin-left: 0.5em;
			}
		}

		fieldset {
			border: none;
			margin: 15px 50px;
			padding: 0;
		}

		img {
			float: right;
			width: 5em;
		}

		input {
			background: $signin-input-bg;
			border: 2px solid $signin-input-border;
			border-radius: $radius-standard;
			color: $text-inverse;
			margin-bottom: 1.3em;
			width: 90%;
		}

		input[data-controller=toggle-password] {
			width: 80%;
		}

		.input:active {
			border-bottom-color: $action-primary;
		}

		input[value^=""],
		.input__complete {
			border-color: $profile-green;
		}

		input.checkbox {
			margin-right: .5em;
			width: auto;
		}

		input#change_password_new_password {
			margin-bottom: 0;
		}

		label {
			color: $color-neutral-450;
			display: block;
			font-size: 0.85em;
			margin-bottom: 0.3em;
			text-align: left;
			text-transform: uppercase;
		}

		legend {
			display: none;
		}

		.password-strength {
			margin-bottom: 1.3em;
			width: 85%;
		}
	}

	a,
	a:visited {
		&.button {
			display: inline;
		}

		& {
			color: $border-color-dark;
			display: block;
			font-size: 0.9em;
			margin-right: 1em;
			margin-top: -1em;
			text-align: right;
			text-decoration: none;
		}
	}

	a:hover {
		&.button {
			color: $text-inverse;
			text-decoration: none;
		}

		& {
			color: $text-inverse;
			text-decoration: underline;
		}
	}

	.button--password-toggle {
		background: transparent;
		border: none;
		color: $text-inverse;
	}
}