@use '../definitions' as *;

fieldset.multisection.content__edit {
  //background-color: #eee;
  //border: 1px solid #f3f3f3;
  //border-radius: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  max-width: 600px;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 0.5rem 0;

  }

  label {
    white-space: nowrap;

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  input {
    box-sizing: border-box;
  }
}

.profile-photo {
  border: 1px solid var(--color-neutral-800);
  border-radius: $radius-round;
  height: 106px;
  float: left;
  margin-right: 2em;
  width: 106px;

  img {
    background: var(--bg-surface);
    border-radius: $radius-round;
    height: 100px;
    max-height: 100%;
    object-fit: cover;
    padding: 3px;
    width: 100px;
  }
}

.form__profile fieldset {
  input {
    border: 2px solid var(--color-neutral-300);
    border-radius: $radius-standard;
    width: 90%;
  }

  .input:active {
    border-bottom-color: var(--color-brand-500);
  }

  input[value^=""],
  .input__complete {
    border-color: var(--color-palette-green);
  }

  p {
    margin-bottom: 2em;
  }
}

.password-strength {
  display: block;
  height: 2em;
  margin: 0 1.55em 0 0.4em;
  width: 90%;
}

meter::-webkit-meter-optimum-value {
  transition: width .4s linear;
}

#user_color {
  input[type=radio] {
    margin: 0 1em 0 0;
    width: auto;
    visibility: hidden;
  }

  input:checked+label {
    border: 4px solid var(--color-neutral-800);
  }

  label {
    border: 4px solid transparent;
    border-radius: $radius-round;
    display: inline-block;
    height: 3em;
    overflow: hidden;
    width: 3em;
  }

  input[data-color="#099bdd"]+label {
    background-color: var(--color-profile-blue);
    color: var(--color-profile-blue);
  }

  input[data-color="#f90"]+label {
    background-color: var(--color-profile-orange);
    color: var(--color-profile-orange);
  }

  input[data-color="#090"]+label {
    background-color: var(--color-profile-green);
    color: var(--color-profile-green);
  }

  input[data-color="#dd0909"]+label {
    background-color: var(--color-profile-red);
    color: var(--color-profile-red);
  }

  input[data-color="#8409dd"]+label {
    background-color: var(--color-profile-purple);
    color: var(--color-profile-purple);
  }

  input[data-color="#dd8709"]+label {
    background-color: var(--color-profile-amber);
    color: var(--color-profile-amber);
  }
}

/*p.profile-photo, p.profile-photo:visited {
  border: 1px solid #000;
  border-radius: $radius-round;
  display: block;
  height: 75px;
  margin: auto;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 75px;

  i, img {
    margin: auto;
  }

  i {
    display: none;
  }

  img {
    vertical-align: middle;
  }
}*/