@use '../definitions' as *;

fieldset.multisection.content__edit {
  //background-color: #eee;
  //border: 1px solid #f3f3f3;
  //border-radius: 1em;
  display: grid;
  grid-template-columns: auto 1fr; /* label size + flexible input */
  gap: 0.5rem 1rem; /* row and column gaps */
  max-width: 600px;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 0.5rem 0;

  }

  label {
    white-space: nowrap;

    @media (max-width: 500px) {
      text-align: left;
    }
  }

  input {
    box-sizing: border-box;
  }
}

.profile-photo {
  border: 1px solid #333;
  border-radius: 50%;
  height: 106px;
  float: left;
  margin-right: 2em;
  width: 106px;

  img {
    background: #fff;
    border-radius: 50%;
    height: 100px;
    max-height: 100%;
    object-fit: cover;
    padding: 3px;
    width: 100px;
  }
}

.form__profile fieldset {
  input {
    border: 2px solid #eee;
    border-radius: 0.5em;
    width: 90%;
  }
  .input:active {
    border-bottom-color: #069;
  }
  input[value^=""], .input__complete {
    border-color: $form-input__complete;
  }
  p {
    margin-bottom: 2em;
  }
}

.password-strength {
  display: block;
  height: 2em;
  margin: 0 1.55em 0 0.4em;
  width: 90%;
}
meter::-webkit-meter-optimum-value {
  transition: width .4s linear;
}
#user_color {
  input[type=radio] {
    margin: 0 1em 0 0;
    width:auto;
    visibility: hidden;
  }
  input:checked+label {
    border: 4px solid #333;
  }
  label {
    border: 4px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 3em;
    overflow: hidden;
    width: 3em;
  }
  input[data-color="#099bdd"]+label {
    background-color: #099bdd;
    color: #099bdd;
  }
  input[data-color="#f90"]+label {
    background-color: #f90;
    color: #f90;
  }
  input[data-color="#090"]+label {
    background-color: #090;
    color: #090;
  }
  input[data-color="#dd0909"]+label {
    background-color: #dd0909;
    color: #dd0909;
  }
  input[data-color="#8409dd"]+label {
    background-color: #8409dd;
    color: #8409dd;
  }
  input[data-color="#dd8709"]+label {
    background-color: #dd8709;
    color: #dd8709;
  }
}

/*p.profile-photo, p.profile-photo:visited {
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  height: 75px;
  margin: auto;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  width: 75px;

  i, img {
    margin: auto;
  }

  i {
    display: none;
  }

  img {
    vertical-align: middle;
  }
}*/