{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <span>Deleted Content</span>
{% endblock pagetitle %}

{% block content %}
{% block waste_pre %}{% endblock waste_pre %}
{% block waste %}

<div class="col-12 ui-section">
{% include 'inadmin/partials/table.html.twig' with {
    'className': 'form__waste',
    'type': 'waste',

    'table_name': 'Waste list',
    'table_class': 'table-responsive table--row-borders table--darkhead',
    'table_desc': 'This table lists deleted items. The first column contains checkboxes allowing users to select one or more items.',
    'columns': [
        {
            'title': 'Title',
            'source': 'title',
            'header': true,
        },
        {
            'title': 'Original Type',
            'source': 'sourceType',
        },
        {
            'title': 'Date Deleted',
            'source': 'modDate',
            'source_type': 'date',
            'hideOnMobile': true,
        },
    ],

    'offset': query.offset,
    'limit': query.limit,
    'total': dataset.count,

    'slug_prefix': 'waste',

    'filters': [],
    'filter_values': query.filters|default([]),
    'show_search': false,
    'show_select_deselect': true,

    'url_result': path('incc_waste_list'),
    'zebra': true,

    'actions': {
        'recover': {
            'button_class': 'button--positive button-recover',
            'icon': 'restore_from_trash',
            'title': 'Restore',
            'value': '1',
            'name': 'recover',
        },
        'delete': {
            'button_class': 'button--negative button--delete',
            'icon': 'delete_forever',
            'title': 'Delete',
            'value': '1',
            'name': 'delete',
            },
        }
    }
%}
</div>

{% endblock waste %}
{% block waste_post %}{% endblock waste_post %}
{% endblock content %}