@use '../definitions' as *;
@use 'sass:color';

.admonition {
  border-left: 3px solid transparent;
  border-radius: $radius-standard;
  line-height: 1.75em;
  margin-bottom: 2em;
  padding: 1em;

  .admonition__title {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;

    .material-icons {
      vertical-align: middle;
    }
  }
}

.admonition__info {
  background-color: var(--color-brand-050);
  border-left-color: var(--color-brand-500);
}

.admonition__warning {
  background-color: var(--color-warning-100);
  border-left-color: var(--color-warning-500);
}