@use '../definitions' as *;
@use 'sass:color';

.badge {
	background-color: #E0E0E0;
	color: #000;
	border: 1px solid transparent;
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	padding: 5px 10px;
	text-wrap: nowrap;
	transition: transform 0.15s ease, background 0.3s ease, color 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}

	.ui-tabs-nav li & {
		margin-left: 1em;
	}

	.ui-state-active & {
		background-color: #069;
		color: #fff;
	}

	@each $name, $colors in $badge-colors {
		&.badge__#{$name} {
			background-color: map-get($colors, bg);
			border-color: color.adjust(map-get($colors, bg), $lightness:-20%);
			color: map-get($colors, text);
		}
	}
}
