#dialog__categoryManager .info {font-size:0.8em;}

.bonsai {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  input {
    width: auto;
  }

  label, .ui-dialog & label {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  li {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    overflow: hidden;
    position: relative;
    padding-left: 1.3em; /* padding for the thumb */

    .material-icons {
      font-size: 1.3em;
      vertical-align: middle;
    }

    &>span {
      display: flex;
      justify-content: space-between;
      padding: 0.2em;

      &:hover { background-color: #eee; }
    }

    a, a:visited {
      font-size: 0.9em;
      vertical-align: middle;
    }

    &.has-children > .thumb:after {
      content: '▸';
    }

    &.has-children.expanded > .thumb:after {
      content: '▾';
    }

    &.collapsed > .bonsai {
      height: 0;
      overflow: hidden;
    }
  }

  .all, .none {
    cursor: pointer;
  }

  .thumb {
    margin: -1px 0 0 -1em; /* negative margin into the padding of the li */
    position: absolute;
    cursor: pointer;
  }
}
