@use '../definitions' as *;

.widget-data-list {
  dt {
    background-color: $border-color;
    border-radius: $radius-standard;
    color: $text-main;
    flex: 30%;
    margin: 0.5em;
  }

  article {
    background-color: $border-color;
    margin: 1px 20px;
    padding: 10px;
    width: 90%;

    strong {
      padding-left: 10px;
    }

    span {
      padding: 0 10px;
    }

    em.date {
      text-align: right;
    }
  }

  .url-not-default {
    color: $text-main;

    input {
      margin-left: 25px;
    }
  }
}

.term-description {
  color: $text-main;
}

.checkbox__checked {
  color: $success-color;
}

.pagination--info {
  color: $text-main;
  font-size: 0.95em;
}

.expand-all {
  .separator {
    width: 2em;
    display: inline-block;
  }
}

.form__users {
  article {
    display: table-row;

    a,
    a:visited,
    span {
      display: table-cell;
      padding: 0.5em 1em;
    }
  }
}