.widget-data-list {
  article {
    background-color: var(--color-neutral-300);
    margin: 1px 20px;
    padding: 10px;
    width: 90%;

    strong {
      padding-left: 10px;
    }

    span {
      padding: 0 10px;
    }

    em.date {
      text-align: right;
    }
  }

  .url-not-default {
    color: var(--color-neutral-800);

    input {
      margin-left: 25px;
    }
  }
}

.checkbox__checked {
  color: var(--color-success-500);
}

.pagination--info {
  color: var(--color-neutral-800);
  font-size: 0.95em;
}

.expand-all {
  .separator {
    width: 2em;
    display: inline-block;
  }
}

.form__users {
  article {
    display: table-row;

    a,
    a:visited,
    span {
      display: table-cell;
      padding: 0.5em 1em;
    }
  }
}