@use '../definitions' as *;

// Fix to make sure easymde sits in front of sidebar/header/bottom-bar
div.EasyMDEContainer {
	div.fullscreen.editor-toolbar {
		border-top: 2px solid $color-brand-500;
	}
	div.fullscreen.editor-toolbar, & div.CodeMirror-fullscreen, & div.editor-preview-side {
		z-index: 150;
	}
}

.autosave-notification {
	align-items: flex-end;
	background: $flash-notice-bg;
	color: $flash-notice-text;
	display: flex;
	padding: 1em;

	button {
		float: right;
		margin: -0.7em 0 0 0;
	}
}

