@use 'sass:color';
@use '../definitions' as *;

.filter {
  align-items: center;
  background-color: transparent;
  border: 1px solid #eee;
  border-bottom: none;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-size: 0.9em;
  justify-content: space-between;

  @media (min-width: $breakpoint-medium) {
    flex-wrap: nowrap;
    //justify-content: space-between;
    padding-right: 1em;
  }

  & > p:last-child {
    display: block;
    text-align: left;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      display: inline-block;
      width: auto;
    }
  }

  .selectall_button {
    background: #eee;
    padding: 0.75em;
    border: 1px solid #999;
    border-radius: 0.5em;
    margin-left: 0.6em;
  }

  input[name=selectAllNone] {
    margin: 0;
  }

  input[type=checkbox]+label.visually-hidden {
    display: none;
  }

  .button--add {
    margin-right: 0.5em;
    @media (min-width: $breakpoint-medium) {
      margin-right: 0;
    }
  }

  .filter__controls {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-medium) {
      flex-wrap: nowrap;
    }
  }

  .filter__section-keyword {
    margin: 1em auto;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      margin: 1em 0;
    }

    input {
      border: 1px solid #eee;
      border-radius: .5em;
      padding: 0.55em 0.55em 0.55em 2em;
      width: 13em;

      @media (min-width: $breakpoint-medium) {
        width: 15em;
      }
    }
    label {
      color: gray;
      position: absolute;
      right: 8.4em;
      top: 0.3em;

      @media (min-width: $breakpoint-medium) {
        position: relative;
        top: 0.3em;
        left: 1.35em;
      }
    }
    button[type=submit] {
      margin-left: -2.5em;
    }
    .clear-search {
      background: none;
      border: none;
      color: #666;
      position: relative;
      right: 1.5em;
      top: 0.3em;
    }
  }

  p {
    a.filter__toggle, a.filter__toggle:visited {
      background-color: $admin__filter_button-background;
      border-radius: 0.5em;
      border: 1px solid transparent;
      color: $admin__filter_button-color;
      display: inline-block;
      margin: 0 1em;
      padding: .5em 1em;
      text-decoration: none;

      @media (min-width: $breakpoint-medium) {
        margin: 0 0 0 1em;
      }
    }
    a.filter__toggle:hover {
      background-color: color.adjust($admin__filter_button-background, $lightness: -20%);
      //background-color: $admin__filter_button-background--hover;
      //color: $admin__filter_button-color--hover;
    }
    //a.filter__toggle.selected {
    //  background-color: $admin__filter_button-background--selected;
    //  color: $admin__filter_button-color--selected;
    //  border-radius: 0.5em 0.5em 0 0;
    //}
  }

  span {
    vertical-align: middle;
  }
}

div#filter__options {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 1em;

  span {
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 0.5em;
    color: #333;
    font-size: 0.9em;
    margin-right: 1em;
    padding: 0.4em 0.4em 0.4em 1em;

    label::after {
      content: ':';
    }

    select::before, select::after {
      box-sizing: border-box;
    }

    select {
      background: transparent;
      border: none;
      color: #333;
      padding: 0;
      margin: 0;
      width: auto;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
      outline: none;
    }

    option {
      background-color: #fff;
      color: #000;
    }
  }
}