@use '../definitions' as *;
@use 'sass:color';

section.paginated-list {
  background-color: $bg-surface;
  border: 1px solid $border-color;
  clear: left;
  margin-bottom: 4em;
  padding: 1em;
}

.widget-posts {
  clear: left;

  div.ui-tabs-panel {
    background-color: $bg-surface;
    border: 1px solid $border-color;
    padding: 30px 20px 60px 20px;
  }

  .post,
  .page,
  .series {

    a,
    a:visited {
      padding: 0 0 0 25px;
    }
  }

  article {
    transition: background 0.15s ease;

    &:hover {
      background-color: $color-neutral-100;
    }
  }

  .zebra article:nth-of-type(2n) {
    background-color: $bg-panel;
  }

  .zebra article:nth-of-type(odd).selected {
    background-color: $table-selected !important;
    outline: 2px solid $table-selected;
  }

  .zebra article:nth-child(even).selected {
    background-color: $table-selected-zebra !important;
    outline: 2px solid $table-selected-zebra;
  }

  ol.ui-widget-content {
    background-color: $bg-surface;
    border: 1px solid $border-color;
    margin: 0;
  }

  ol.ui-widget-content,
  .post,
  .page,
  .series {
    clear: left;
    list-style-type: none;
    padding: 15px 5px;

    @media (min-width: $breakpoint-medium) {
      padding: 15px 5px;
    }

    a,
    a:visited {
      color: $action-primary;
      display: block;
      text-decoration: none;
    }

    li {
      margin: 25px 10px 40px 0;
    }

    h2 {
      display: flex;
      font-size: 1.2em;
      font-weight: 600;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      .badge {
        margin: 0 0.25em 0 0;
      }
    }

    input {
      float: left;
      margin: 5px 0 0 0;
    }

    p {
      color: $text-muted;
      font-size: 0.85em;
      line-height: 1.7em;
      margin-left: 2em;

      form & {
        margin: 0 0 0 1.5em;
      }

      &.date {
        font-size: 0.8em;
      }

      &.date span.material-icons:not(:first-of-type) {
        margin-left: 0.75em;
      }
    }

    span {
      vertical-align: middle;
    }

    .badge {
      font-size: 0.5em;
      margin-left: 20px;
    }
  }
}

@media (min-width: $breakpoint-medium) {

  .content__list ol.ui-widget-content,
  .content__list .post,
  .content__list .page,
  .content__list .series {
    margin: 0.5em 0;
  }
}