@use '../definitions' as *;
@use 'sass:color';

section.paginated-list {
	clear: left;
	margin-bottom: 4em;
	padding: 30px 20px 60px 20px;

	article {
		clear: left;
		list-style-type: none;
		padding: 15px 5px;
		transition: background 0.15s ease;

		@media (min-width: $breakpoint-medium) {
			margin: 0.5em 0;
			padding: 15px 5px;
		}

		&:hover {
			background-color: $color-neutral-100;
		}

		a,
		a:visited {
			color: $action-primary;
			display: block;
			padding: 0 0 0 25px;
			text-decoration: none;
		}

		h2 {
			display: flex;
			font-size: 1.2em;
			font-weight: 600;
			justify-content: space-between;
			margin: 0;
			padding: 0;

			.badge {
				margin: 0 0.25em 0 0;
			}
		}

		input.checkbox {
			float: left;
			margin: 5px 0 0 0;
		}

		p {
			color: $text-muted;
			font-size: 0.85em;
			line-height: 1.7em;
			margin-left: 2em;

			// form & {
			// 	margin: 0 0 0 1.5em;
			// }

			&.date {
				font-size: 0.8em;
			}

			&.date span.material-icons:not(:first-of-type) {
				margin-left: 0.75em;
			}
		}

		span {
			vertical-align: middle;
		}

		.badge {
			font-size: 0.5em;
			margin-left: 20px;
		}
	}

	&.zebra article:nth-of-type(2n) {
		background-color: $bg-panel;
	}

	&.zebra article:nth-of-type(odd).selected {
		background-color: $table-selected !important;
		outline: 2px solid $table-selected;
	}

	&.zebra article:nth-child(even).selected {
		background-color: $table-selected-zebra !important;
		outline: 2px solid $table-selected-zebra;
	}
}
