@use '../definitions' as *;

.mapbox {
  background-color: $border-color;
  border: 1px solid $border-color-input;
  height: 200px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  width: 98%;

  p {
    margin: 85px 20px;
  }
}