.mapbox {
  background-color: var(--color-neutral-300);
  border: 1px solid var(--color-neutral-500);
  height: 200px;
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  width: 98%;

  p {
    margin: 85px 20px;
  }
}