@use '../definitions' as *;

section.pagination--row {
  align-items: center;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding-left: 15px;

  .material-icons {
    vertical-align: middle;
  }

  .page-item {
    display: table-cell;
    list-style-type: none;
    margin-left: -1px;

    &:first-child {
      .page-link {
        border-top-left-radius: $radius-standard;
        border-bottom-left-radius: $radius-standard;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: $radius-standard;
        border-bottom-right-radius: $radius-standard;
      }
    }

    &.active .page-link {
      background-color: $action-primary;
      color: $text-inverse;
    }


    &.current a,
    &.current a:visited {
      background-color: $action-primary;
      color: $text-inverse;
    }
  }

  .page-link {
    border: 1px solid $border-color-input;
    color: $text-main;
    display: block;
    padding: .5em .75em;
    text-decoration: none;

    &:hover {
      background-color: $text-main;
      color: $text-inverse;
    }

    &:focus {
      background-color: $action-primary;
      color: $text-inverse;
    }

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }

  .pagination-spacer {
    color: $border-color-input;
    display: block;
    padding: .5em .75em;
  }
}