@use '../definitions' as *;

section.pagination--row {
  align-items: center;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding-left: 15px;

  .material-icons {
    vertical-align: middle;
  }

  .page-item {
    display: table-cell;
    list-style-type: none;
    margin-left: -1px;

    &:first-child {
      .page-link {
        border-top-left-radius: $pagination-border-radius;
        border-bottom-left-radius: $pagination-border-radius;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: $pagination-border-radius;
        border-bottom-right-radius: $pagination-border-radius;
      }
    }

    &.active .page-link {
      background-color: var(--color-brand-500);
      color: var(--color-neutral-000);
    }


    &.current a,
    &.current a:visited {
      background-color: var(--color-brand-500);
      color: var(--color-neutral-000);
    }
  }

  .page-link {
    border: 1px solid var(--color-neutral-500);
    color: var(--color-neutral-800);
    display: block;
    padding: .5em .75em;
    text-decoration: none;

    &:hover {
      background-color: var(--color-neutral-800);
      color: var(--color-neutral-000);
    }

    &:focus {
      background-color: var(--color-brand-500);
      color: var(--color-neutral-000);
    }

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }

  .pagination-spacer {
    color: var(--color-neutral-500);
    display: block;
    padding: .5em .75em;
  }
}