@use '../definitions' as *;

#progressbar {
  background-color: $border-color;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;

  .progress-label {
    color: $text-inverse;
    left: 50%;
    position: absolute;
    top: 0.65em;
  }

  .ui-progressbar-value {
    background-color: $progress-good;
    display: block;
    height: 2.5em;
    border-right: 1px solid transparent;
    border-radius: 5px;
  }

  &.ui-progressbar-warning .ui-progressbar-value {
    background-color: $progress-warn;
  }

  &.ui-progressbar-danger .ui-progressbar-value {
    background-color: $progress-bad;
  }
}