#progressbar {
  background-color: var(--color-neutral-300);
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;

  .progress-label {
    color: var(--color-neutral-000);
    left: 50%;
    position: absolute;
    top: 0.65em;
  }

  .ui-progressbar-value {
    background-color: var(--color-progress-good);
    display: block;
    height: 2.5em;
    border-right: 1px solid transparent;
    border-radius: 5px;
  }

  &.ui-progressbar-warning .ui-progressbar-value {
    background-color: var(--color-progress-warn);
  }

  &.ui-progressbar-danger .ui-progressbar-value {
    background-color: var(--color-progress-bad);
  }
}