@use '../definitions' as *;

.reading-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  z-index: 10000;
  pointer-events: none;

  .reading-progress__bar {
    height: 100%;
    width: 0%;
    background-color: $reading-indicator;
    transform-origin: left;
    transition: width 0.1s linear;
    }

    @media (prefers-reduced-motion: reduce) {
        .reading-progress__bar {
            transition: none;
        }
    }
}

