@use 'sass:color';
@use '../definitions' as *;

.ui-tabs,
.ui-tabs-external {
	clear: both;

	fieldset {
		clear: both;
	}

	ol,
	div:not(.switch-wrapper div) {
		clear: left;
	}

	.ui-tabs-nav {
		background-color: var(--bg-surface);
		border: 1px solid var(--color-neutral-300);
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		border-bottom: none;
		clear: both;
		display: block;
		font-size: 0.9em;
		list-style-type: none;
		margin: 1em 0 0 0;
		padding: 0.5em 0 0 0;

		&::after {
			content: ' ';
			clear: both;
			display: block;
		}

		a,
		a:visited {
			color: var(--color-neutral-900);
			text-decoration: none;
		}

		li {
			border-bottom: 3px solid transparent;
			float: left;
			margin: 0 5px 0;
			padding: 10px;

			&:hover {
				background-color: var(--color-neutral-300);
				border-bottom-color: var(--color-brand-400); // 10% lightness
			}
		}

		.ui-state-active {
			border-bottom: 3px solid var(--color-brand-500);

			a,
			a:visited {
				color: var(--color-brand-500);
				font-weight: bold;
			}
		}
	}
}

.form__post fieldset.ui-tabs-panel {
	background-color: var(--bg-surface);
	border: 1px solid var(--color-neutral-300);
	margin: 0;
}