@use 'sass:color';
@use '../definitions' as *;

#dialog__imageManager {
  .pagination {
    clear: both;
    display: block;
  }
}

.form input[type="checkbox"]+label {
  display: inline;
}

.ui-image-library {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  padding: 0;

  @media (min-width: $breakpoint-medium) {
    padding: 0 40px;
  }

  li {
    display: inline-block;
    font-size: 0.85em;
    margin: 0.2em;
    text-align: center;

    a,
    a:visited {
      background: $border-color;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      color: $text-main;
      display: block;
      height: 16em;
      padding: 0.5rem;
      text-decoration: none;
      width: 12.5em;

      @media (min-width: $breakpoint-medium) {
        padding: 1em;
        width: 13em;
      }
    }

    a:hover {
      background-color: $color-neutral-250;
      color: $color-neutral-900;
    }

    img {
      max-height: 150px;
      max-width: 150px;
    }

    span {
      display: block;
      height: 150px;
      margin: 0 auto 1em;
    }
  }
}

#post_usages {
  li {
    margin-bottom: 1em;
  }

  a,
  a:visited {
    line-height: 2em;
    margin-bottom: 1em;
    padding: 0.5em 0.25em;
  }

  a:hover {
    background-color: #ccc;
  }
}

div.edit-grid {
  display: grid;
  gap: $gutter;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "details"
    "properties"
    "usages";
  margin-bottom: 8rem;

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "details image"
      "properties usages";
  }
}

.edit-image {
  grid-area: image;
}

.edit-details {
  grid-area: details;
}

.edit-properties {
  grid-area: properties;
}

.edit-usages {
  grid-area: usages;
}
