@use 'sass:color';
@use '../definitions' as *;

#dialog__imageManager {
  .pagination {
    clear: both;
    display: block;
  }
}

.form input[type="checkbox"] + label {
  display: inline;
}

.ui-image-library {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  padding: 0;

  @media #{$information-medium} {
    padding: 0 40px;
  }

  li {
    display: inline-block;
    font-size: 0.85em;
    margin: 0.2em;
    text-align: center;

    a, a:visited {
      background: $image-tile-background;
      color: #333;
      display: block;
      height: 14.5em;
      padding: 1em;
      text-decoration: none;
      width: 145px;

      @media #{$information-medium} {
        width: 150px;
      }
    }

    a:hover {
      background-color: color.scale($image-tile-background, $lightness: -10%);
      color: #000;
    }

    img {
      max-height: 150px;
      max-width: 150px;
    }
    span {
      display: block;
      height: 150px;
      margin: 0 auto 1em;
    }
  }
}

#post_usages {
  li {
    margin-bottom: 1em;
  }
  a, a:visited {
    line-height: 2em;
    margin-bottom: 1em;
    padding: 0.5em 0.25em;
  }
  a:hover {
    background-color: #ccc;
  }
}