@use '../definitions' as *;

div.content__edit {
    margin-bottom: 45px;

    .editor__title {
        font-size: 1.4em;
    }

    .editor__sub-title {
        font-size: 1.2em;
    }
}

div.content__edit,
.ui-dialog form {

    a,
    a:visited {
        color: $text-muted;
        text-decoration: none;
        vertical-align: middle;
    }

    input {
        border: 1px solid $border-color;
        outline: none;

        &:focus,
        &:active {
            outline: 1px solid $input-focus-border;
            border-bottom: 1px solid $input-focus-border;
        }
    }

    input,
    textarea {
        &.date-width {
            width: 7.5em;
        }

        &.halfwidth {
            width: 40%;
        }

        &.full-width {
            width: 97%;
        }
    }

    label {
        color: $border-color-input;
        display: block;

        &.date-range__label {
            display: inline-flex;
            font-size: 0.75em;
            text-transform: uppercase;
            width: 49%;
        }

        &.inline_label {
            display: inline;
        }
    }
}

.edit__list {
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            background: $border-color;
            margin: 5px 0;
            padding: 5px;

            input[type=checkbox] {
                display: inline;
                width: auto;
            }

            label {
                display: inline;
            }
        }
    }
}

.ui-dialog form {
    input {
        border: 1px solid $border-color-input;
    }
}

.image_preview {
    text-align: center;

    .form__series & {
        float: right;
    }

    img {
        border: 1px solid $border-color-input;
        display: block;
        margin: 0 auto 10px auto;
        padding: 2px;
        width: 250px;

        &.preview__small {
            width: 100px;
        }
    }
}

#track_changes {
    border: 1px solid $border-color;
    margin: 10px;

    p {
        margin: 3px;
        padding: 5px;
    }

    ins {
        text-decoration: none;

        &,
        p {
            background-color: $track-ins-bg;
        }

        & p:before {
            content: '+';
        }
    }

    del {
        text-decoration: none;

        &,
        p {
            background-color: $track-del-bg;
        }

        & p:before {
            content: '-';
        }
    }

    .change_block {
        background-color: $border-color;
        margin: 10px 3px;
        padding: 3px 0;
    }
}