.edit__list {
  .series__controls {
    button {
      font-size: 0.9em;
    }
  }

  table {
    margin-bottom: 7em;

    td label {
      color: var(--color-neutral-600);
      display: inline;
    }
  }

  .table--selectable tr td:nth-last-child(-n+2),
  .table--selectable tr th:nth-last-child(-n+2) {
    color: var(--color-neutral-450);
    width: .8em;
  }
}