.edit__list {
  .series__controls {
    button {
      font-size: 0.9em;
    }
  }

  table {
    margin-bottom: 7em;

    td label {
      color: #666;
      display: inline;
    }
  }

  .table--selectable tr td:nth-last-child(-n+2),
  .table--selectable tr th:nth-last-child(-n+2) {
    color: #aaa;
    width: .8em;
  }
}