@use '../definitions' as *;

.edit__list {
  .series__controls {
    button {
      font-size: 0.9em;
    }
  }

  table {
    margin-bottom: 7em;

    label {
      color: $text-muted;
      display: block;
    }
  }

  .table--selectable tr td:nth-last-child(-n+2),
  .table--selectable tr th:nth-last-child(-n+2) {
    color: $color-neutral-450;
    width: 3rem;
  }
}