@use '../definitions' as *;

.content-warning {
  color: #aaa;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;

  a:link,
  a:visited {
    color: var(--color-brand-500);
    font-size: 0.5em;
  }

  a:hover {
    color: var(--color-accent-500);
  }

  i.material-icons {
    color: var(--color-neutral-300);
    display: block;
    font-size: 3.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-neutral-400);
  }

  span {
    display: block;
  }
}