@use '../definitions' as *;

.content-warning {
  color: #aaa;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;

  a:link,
  a:visited {
    color: $action-primary;
    font-size: 0.5em;
  }

  a:hover {
    color: $link-hover;
  }

  i.material-icons {
    color: $border-color;
    font-size: 2em;
    vertical-align: middle;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $border-color-dark;
  }

  span {
    display: block;
  }
}