{% block password_widget %}
    {% apply spaceless %}
            {{ block('form_widget_simple') }}
            {% if attr['data-controller'] is defined and 'toggle-password' in attr['data-controller'] %}
                <button
                        type="button"
                        class="material-icons button--password-toggle"
                        data-action="toggle-password"
                >
                    visibility
                </button>
            {% endif %}
    {% endapply %}
{% endblock %}
