<!-- googleoff: snippet -->
<div id="footer_container">
    <footer role="contentinfo">
        {% block backToTop %}
        <p class="backtotop"><a href="#">Top &uarr;</a></p>
        {% endblock backToTop %}
        <p class="smallprint"><span class="copy">&copy;</span> My Blog. All rights reserved.</p>
    </footer>
</div>
<!-- googleon: snippet -->