.badge {
	background-color: #999;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 40px;
	font-size: 0.7em;
	padding: 5px 10px;

	.ui-tabs-nav li & {
		margin-left: 1em;
	}

	.ui-state-active & {
		background-color: #069;
	}

	&.badge__draft, &.badge__default {
		background-color: #900;
	}

	&.badge__scheduled {
		background-color: #393;
	}

	&.badge__private {
		background-color: #f70;
	}
}
