@use 'definitions' as *;
@use 'sass:color';

.form {

	input,
	textarea,
	select {
		border: 1px solid var(--color-neutral-500);
		font-size: 1em;
		line-height: 1.5em;
		padding: 5px 10px;
		width: 15em;
	}

	input.checkbox {
		margin-right: 0.5em;
		width: auto;
	}

	fieldset {
		border: none;
	}

	legend {
		display: none;
	}

	button:hover {
		cursor: pointer;
	}

	.field__wide {
		width: 30em;
	}

	.js-select {
		display: inline-block;
		width: 100%;

		@media (min-width: $breakpoint-medium) {
			width: 60%;
		}
	}

	.ts-dropdown-content {
		input {
			width: auto;
		}

		small {
			display: block;
		}
	}
}

.button,
.button:visited {
	background-color: var(--bg-surface);
	border: 3px solid var(--bg-surface);
	border-radius: $radius-standard;
	padding: 0.5em 0.75em;
	text-decoration: none;
	text-wrap-mode: nowrap;
	transition: background-color 0.2s ease;

	.btn-text {
		display: none;
	}

	&:hover {
		background-color: var(--color-neutral-250);
	}

	&:disabled {
		opacity: 0.5;
	}

	span:nth-of-type(2),
	i:nth-last-of-type(1) {
		margin-top: 0.2em;
	}

	span,
	i {
		display: inline-block;
		vertical-align: middle;
	}

	&.button--secondary {
		background-color: var(--color-button-default-bg);
		border-color: var(--color-button-default-bg);

		&:hover {
			background-color: var(--color-button-default-hover);
		}
	}

	&.button--positive {
		background-color: var(--color-success-500);
		border-color: var(--color-success-500);
		color: var(--color-neutral-000);

		&:hover {
			background-color: var(--color-success-700);
		}
	}

	&.button--negative {
		background-color: var(--color-danger-500);
		border-color: var(--color-danger-500);
		color: var(--color-neutral-000);

		&:hover {
			background-color: var(--color-danger-300);
		}
	}

	&.button--info {
		background-color: var(--color-info-500);
		border-color: var(--color-info-500);
		color: var(--color-neutral-000);

		&:hover {
			background-color: var(--color-info-700);
		}
	}

	&.button--menu {
		float: left;
		padding: 5px 10px;
	}

	&.button--add {
		background-color: var(--color-brand-500);
		border-color: var(--color-brand-500);
		color: var(--color-neutral-000);

		&:hover {
			background-color: var(--color-brand-400);
		}
	}

	&.button--ai {
		background: linear-gradient(90deg, #069, #0063a7, #005fb4, #0059c0, #1751c9, #3e46ce, #5d35cf, #7914cc); // Keeping as specific gradient unless requested otherwise
		border-color: #470099;
		color: var(--color-neutral-000);
		transition: background 0.3s ease;

		&:hover {
			background: linear-gradient(90deg,
					var(--color-brand-400),
					color.adjust(#0063a7, $lightness: 10%),
					color.adjust(#005fb4, $lightness: 10%),
					color.adjust(#0059c0, $lightness: 10%),
					color.adjust(#1751c9, $lightness: 10%),
					color.adjust(#3e46ce, $lightness: 10%),
					color.adjust(#5d35cf, $lightness: 10%),
					color.adjust(#7914cc, $lightness: 10%));
			border-color: var(--color-warning-500);
		}
	}

	@media (min-width: $breakpoint-medium) {
		.btn-text {
			display: inline;
		}
	}
}