@use 'definitions' as *;
@use 'sass:color';

.form {

	input,
	textarea,
	select {
		background-color: $color-neutral-000;
		border: 1px solid $border-color-input;
		color: $color-neutral-700;
		font-size: 1em;
		line-height: 1.5em;
		padding: 5px 10px;
		width: 15em;
	}

	input.checkbox {
		margin-right: 0.5em;
		width: auto;
	}

	fieldset {
		border: none;
	}

	legend {
		display: none;
	}

	button:hover {
		cursor: pointer;
	}

	.field__wide {
		width: 30em;
	}

	.js-select {
		display: inline-block;
		width: 100%;

		@media (min-width: $breakpoint-medium) {
			width: 60%;
		}
	}

	.ts-dropdown-content {
		input {
			width: auto;
		}

		small {
			display: block;
		}
	}
}