@use "sass:color";

@media (prefers-color-scheme: dark) {
  $admin__background-color: #002b36;
  $default-foreground-color: #fff;

  $default-sunken-background-color: #073642;
  $default-border-color: #586e75;

  html {
    body {
      background-color: $admin__background-color;
      color: $default-foreground-color;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    textarea {
      background-color: #252526;
      color: #d4d4d4;
      border: 1px solid #3f3f3f;
    }

    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    textarea:focus {
      border-color: #569cd6;
    }

    .fixed-bottom-bar {
      background-color: #333;
    }
  }
}
 /**
    .ui-tabs, .ui-tabs-external {
      background-color: $default-background-color;
      color: $default-foreground-color;

      .ui-tabs-nav {
        a, a:visited {
          color: $default-foreground-color;
          text-decoration: none;
        }
      }
    }

    .ui-help:hover span {
      background-color: color.adjust($default-background-color, $lightness: 5%);
      border-color: color.adjust($default-background-color, $lightness: 10%);
      color: #fff;
    }

    .ui-dialog {
      background-color: $default-background-color;
    }

    .widget-data-list article {
      background-color: rgba(1, 1, 1, 0.25);
    }

    input, select, textarea, .select2-container--default, .select2-selection--multiple {
      background-color: $default-sunken-background-color;
      color: $default-foreground-color;
      border-color: $default-border-color;
    }


  }
}
*/