{% if alerts is defined %}
<section class="widget widget-alerts">
    <h2>Notifications</h2>
    <article class="alert_priority__high">
        <p><span>High</span> HDD space is running low</p>
    </article>
    <article class="alert_priority__medium">
        <p><span>Med</span> A new version is available</p>
    </article>
</section>
{% endif %}