<div class="widget widget-alerts">
    <article class="alert_priority__high">
        <p><span>High</span> HDD space is running low</p>
    </article>
    <article class="alert_priority__medium">
        <p><span>Med</span> A new version of the software is available!</p>
    </article>
</div>