{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <span>Users</span>
{% endblock pagetitle %}

{% block content %}

    {% block user_list_pre %}{% endblock user_list_pre %}

    {% block user_list %}
    <div class="col span_8_of_8 widget-posts">
        <a class="button button--positive" href="{{ path('app_admin_new') }}">
            <span class="material-icons">add</span> Create admin</a>

        {% include 'inadmin/partials/table.html.twig' with {
            className: 'form__users',
            type: 'users',

            table_name: 'Administrator list',
            table_class: 'table-responsive table-borderless table-darkhead table-selectable',
            table_desc: 'This table lists administrators. The first column contains checkboxes allowing users to select one or more tasks.',
            columns: [
                {
                    title: 'Display Name',
                    slug: 'username',
                    source: 'displayName',
                    header: true,
                },
                {
                    title: 'Username',
                    source: 'username',
                },
                {
                    title: 'Status',
                    badges: {
                        'disabled': {
                            field: 'enabled',
                            condition: false,
                            className: 'badge__draft',
                        },
                        'new-user': {
                            field: 'password',
                            condition: '',
                            className: 'badge__hotlink',
                        },
                        'active': {
                            default: true,
                            className: 'badge__scheduled',
                        }
                    },
                },
                {
                    title: 'Password Last Modified',
                    source: 'passwordModDate',
                    source_type: 'date',
                },
            ],

            offset: page.offset,
            limit: page.limit,
            total: dataset.count,

            slug_prefix: 'admin',

            filters: [],
            filter_values: filters,
            show_search: true,
            url_add: path('app_admin_new'),
            url_result: path('app_admin_adminprofile_adminlist'),
            zebra: true,

            actions: {
                enable: {
                    button_class: 'button--secondary',
                    'data': {
                        'form-action': ''
                    },
                    icon: 'person_outline',
                    title: 'admin.button.enable'|trans,
                },
                disable: {
                    button_class: 'button--secondary',
                    'data': {
                        'form-action': ''
                    },
                    icon: 'person_off',
                    title: 'admin.button.disable'|trans,
                },
                delete: {
                    button_class: 'button--negative button--delete',
                    'data': {
                        'form-action': ''
                    },
                    icon: 'delete',
                    title: 'Delete',
                }
            }
        } %}
    </div>
    {% endblock user_list %}

    {% block user_list_post %}{% endblock user_list_post %}
{% endblock content %}
