{% extends "inadmin/partials/form_account.html.twig" %}
{% set page_type = 'login' %}
{% set page_title = 'admin.reset_sent.title'|trans %}


{% block form_account %}
    <section class="reset-confirm">
        <h2>{% trans %}admin.reset_sent.heading{% endtrans %}</h2>
        <p>{% trans %}admin.reset_sent.text{% endtrans %}</p>
        <p><a class="button button--positive" href="{{ path('app_account_login') }}">{% trans %}admin.button.continue{% endtrans %}</a></p>
    </section>
{% endblock form_account %}
