{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <span>Users</span>
{% endblock pagetitle %}

{% block content %}

    {% block user_list_pre %}{% endblock user_list_pre %}

    {% block user_list %}
    <div class="col-12 widget-posts">

        {% include 'inadmin/partials/table.html.twig' with {
            className: 'form__users',
            type: 'users',

            table_name: 'Administrator list',
            table_class: 'table-responsive table--row-borders table--darkhead',
            table_desc: 'This table lists administrators. The first column contains checkboxes allowing users to select one or more tasks.',
            columns: [
                {
                    title: 'Display Name',
                    slug: 'username',
                    source: 'displayName',
                    header: true,
                },
                {
                    title: 'Username',
                    source: 'username',
                },
                {
                    title: 'Status',
                    flex: true,
                    badges: {
                        'disabled': {
                            field: 'enabled',
                            condition: false,
                            className: 'badge__disabled',
                        },
                        'new-user': {
                            field: 'password',
                            condition: '',
                            className: 'badge__newuser',
                        },
                        'active': {
                            default: true,
                            className: 'badge__active',
                        }
                    },
                },
                {
                    title: 'Last Login',
                    source: '',
                    hideOnMobile: true,
                },
                {
                    title: 'Password Last Modified',
                    source: 'passwordModDate',
                    source_type: 'date',
                    hideOnMobile: true,
                },
            ],

            offset: query.offset,
            limit: query.limit,
            total: dataset.count,

            slug_prefix: 'admin',

            filters: [],
            filter_values: query.filters,
            show_search: true,
            show_select_deselect: true,

            add_button: {
                text: 'Create Admin',
                url: path('incc_admin_edit', { id: 'new' }),
            },

            url_result: path('incc_admin_list'),
            zebra: true,

            actions: {
                enable: {
                    button_class: 'button--secondary',
                    'data': {
                        'form-action': '',
                    },
                    icon: 'person_outline',
                    title: 'admin.button.enable'|trans,
                },
                disable: {
                    button_class: 'button--secondary',
                    'data': {
                        'form-action': '',
                    },
                    icon: 'person_off',
                    title: 'admin.button.disable'|trans,
                },
                delete: {
                    button_class: 'button--negative button--delete button--confirm',
                    'data': {
                        'entity': 'users',
                        'form-action': '',
                        'title': 'all selected users',
                        'warning': 'All currently selected users will be deleted permanently, and they will lose access to this system. This action cannot be undone.',
                    },
                    icon: 'delete',
                    title: 'Delete',
                }
            }
        } %}
    </div>
    {% endblock user_list %}

    {% block user_list_post %}{% endblock user_list_post %}
{% endblock content %}
