{% extends "inadmin/structure/main.html.twig" %}

{% block pagetitle %}
    <span>Series</span>
{% endblock pagetitle %}

{% block content %}

    {% block series_list_pre %}{% endblock series_list_pre %}

    {% block series_list %}
        <div class="col-12 widget-posts ui-tabs-external">
            {% include 'inadmin/partials/list.html.twig' with {
                'className': 'form__series',
                'type': 'series',

                'offset': query.offset,
                'limit': query.limit,
                'total': dataset.count,

                'snippet_description': 'description',
                'slug_prefix': 'series/edit',
                'slug': 'id',

                'add_button': {
                    'text': 'Create Series',
                    'url': path('incc_series_new'),
                },
                'url_result': path('incc_series_list'),

                'filters': {
                    'Visibility': {
                        '': 'All',
                        'private': 'Private',
                        'public': 'Public',
                    }
                },
                'filter_values': query.filters,
                'show_select_deselect': true,
                'show_search': true,
                showSummary: true,
                'zebra': true,

                'actions': {
                    'private': {
                        'button_class': 'button--secondary button--privacy',
                        'data': {
                            'form-action': ''
                        },
                        'icon': 'visibility_off',
                        'title': 'Make private',
                    },
                    'public': {
                        'button_class': 'button--secondary button--privacy',
                        'data': {
                            'form-action': ''
                        },
                        'icon': 'visibility',
                        'title': 'Make public',
                    },
                    'export': {
                        'button_class': 'button--secondary button--export',
                        'button_type': 'button',
                        'data': {
                            'content-type': 'series',
                            'form-action': path('incc_tools_export'),
                            'scope': 'manual',
                        },
                        'icon': 'cloud_download',
                        'title': 'Export',
                    },
                    'delete': {
                        'button_class': 'button--negative button--delete button--confirm',
                        'data': {
                            'confirm': 'delete',
                            'confirm-text': 'Yes, delete',
                            'entity': 'series',
                            'form-action': '',
                            'title': 'Delete selected series',
                            'warning': 'All currently selected content will be deleted permanently. This action cannot be undone.',
                        },
                        'icon': 'delete_forever',
                        'name': 'delete',
                        'value': '1',
                        'title': 'Delete',
                    },
                },

                'sort_options': {
                    'lastDate asc': 'Newest',
                    'lastDate desc': 'Oldest',
                    'modDate asc': 'Modfied: Newest',
                    'modDate desc': 'Modfiied: Oldest',
                    'title asc': 'Title: A-Z',
                    'title desc': 'Title: Z-A',
                },

                'badges': {
                    'private': {
                        'field': 'visibility',
                        'condition': false,
                        'className': 'badge__private'
                    },
                }
            }
        %}
        </div>
    {% endblock series_list %}


    {% block series_list_post %}{% endblock series_list_post %}
{% endblock content %}
