<nav class="toc" role="navigation" aria-label="Table of contents">
    <h2>Contents</h2>
    <ul>
        <li><a href="#post1">Blog Post Title</a></li>
        <li><a href="#post2">Another Post Title</a></li>
        <li><a href="#post3">Third Post</a></li>
    </ul>
</nav>
