{% if badges|default(null) is not empty %}
    {% set badges_used = false %}
    {% for badgeName,badge in badges %}
        {%- if (badge.field is defined and attribute(item, badge.field) == badge.condition)
                or (badge.default|default(false) == true and not badges_used)
                or (badge.context is defined and attribute(_context, badge.context) == badge.condition)
        %}
            {% set badges_used = true %}
            <span class="badge {{ badge.className }}">{{ badgeName }}</span>
        {% endif -%}
    {% endfor %}
{% endif %}