{% set flashMessages = flashMessages ?? app.flashes(['success', 'warning', 'notice', 'error']) %}

{% for label, messages in flashMessages %}
    {% for message in messages %}
        <div aria-live="polite" class="flash-{{ label }}">
            {% if label == 'success' %}
                <span class="material-icons">check_circle</span>
            {% elseif label == 'warning' or label == 'error' %}
                <span class="material-icons">warning</span>
            {% elseif label == 'notice' %}
                <span class="material-icons">info</span>
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}