{% if sort_options|default(null) is not empty %}
<p class="ui-sortby">
    <label class="visually-hidden" for="sort">Sort by</label>
    <select id="sort" name="sort">
        {% for option,option_name in sort_options %}
        <option value="{{ option }}"{% if page.sortby == option %} selected{% endif %}>{{ option_name }}</option>
        {% endfor %}
    </select>
</p>
{% endif %}