{% if sort_options|default(null) is not empty %}
<p class="ui-sortby">
    <label for="sort"><em class="material-icons">swap_vert</em> <span class="visually-hidden">Sort by</span></label>
    <select id="sort" name="sort">
        {% for option,option_name in sort_options %}
        <option value="{{ option }}"{% if query.sort|default('') == option %} selected{% endif %}>{{ option_name }}</option>
        {% endfor %}
    </select>
</p>
{% endif %}