{% if sort_options|default(null) is not empty %}
<p class="ui-sortby">
    <label for="sort">
        <em class="material-icons" aria-hidden="true">sort</em>
    </label>
    <select id="sort" name="sort" aria-label="Sort posts">
        {% for option,option_name in sort_options %}
        <option value="{{ option }}"{% if query.sort|default('') == option %} selected{% endif %}>{{ option_name }}</option>
        {% endfor %}
    </select>
</p>
{% endif %}
