{% if displayTabsCondition is not defined or displayTabsCondition %}
<ul class="ui-tabs">
{% for tab in tabs %}
    {% if tab.displayCondition is not defined or tab.displayCondition %}
    <li role="tab" class="ui-tabs-tab ui-tab{% if page.tab == tab.id %} ui-state-active{% endif %}">
        <a href="{{ settings.domain ~ tab.url|default('') }}">{{ tab.title }}</a>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
