{% extends "inadmin/partials/form_account.html.twig" %}
{% set page_type = 'login' %}
{% set page_title = 'Login to' %}


{% block form_account %}
    <section class="reset-confirm">
        <h2>Thank you,</h2>
        <p>If your account was found, you will soon receive an email to the email address you provided with instructions to reset your password.</p>
    </section>
{% endblock form_account %}
