{% extends "inadmin/partials/form_account.html.twig" %}
{% set page_type = 'login' %}
{% set page_title = 'Login to' %}

{% block form_account %}
    {{ form_row(form.loginUsername) }}
    {{ form_row(form.loginPassword) }}

    <p class="forgot-password"><a href="{{ path('app_account_forgotpassword') }}" title=""><span>{% trans %}Forgot your password?{% endtrans %}</span></a></p>

    {% if recaptcha|default(false) %}
    <p>This page is protected using Google reCAPTCHA. <a href="https://cloud.google.com/security/products/recaptcha#how-it-works" title="View Google's documentation for reCAPTCHA">Learn more</a>.</p>
    {% endif %}

    {{ form_row(form.logIn) }}

    {% if sso_enabled|default(false) %}
        Login using Google or Apple
    {% endif %}
{% endblock form_account %}
