{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block import_main_pre %}{% endblock import_main_pre %}

    {% block import_main %}
    <div class="col-12 widget-posts ui-tabs-external">
        {% include 'inadmin/partials/tab-sets/posts.html.twig' %}
        <section class="paginated-list">
            <h2>Import Posts</h2>
            <form action="{{ path('incc_post_import') }}" class="dropzone" method="post">
            {{
                include('inadmin/partials/dropzone.html.twig', {
                    'dropzoneUrl': path('incc_post_import'),
                    'helpText': 'Upload posts using markdown files (.md), XML (.xml), or JSON files (.json).',
                    'paramName': 'markdownFiles',
                    'uploadMultiple': true,
                    'maxFilesize': 2,
                    'acceptedFiles': 'text/plain,.md,.json'
                })
            }}
            </form>
        </section>
    </div>
    {% endblock import_main %}


    {% block import_main_post %}{% endblock import_main_post %}
{% endblock content %}
