<p>
    <span class="material-icons">timer</span>
    For security, your session will after %TIMEOUT% minutes of inactivity. You will be automatically logged out in approximately
</p>
<p class="countdown">&nbsp;</p>
<p>Please click "Keep me signed in" to continue your session, or click "Log off now" to end your session immediately.</p>